@model IEnumerable<Category>

<div class="bg-primary m-1 p-1 text-white">
    <h4>Category Listing</h4>
</div>
<ul>
    @foreach (Category category in Model)
    {
        <li>@(category.CategoryName + " - " + category.Description)</li>
    }
</ul>